/* table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0 25px 0 25px;
  
}

table {
  width: 100%;
} */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container .imageStyle {
  flex: 50%;
  
}

.flex-container .tableStyle {
  flex: 50%;
 
}