 table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table {
  width: 100%;
} 

.flex-container {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.item {
  flex-grow: 1;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
